# Folders that should be ignored
logs/
.mixin.out/
.vscode/
backups/
crash-reports/
downloads/
local/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP240807/
profileImage/
# Files that should be ignored
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
.curseclient
cherishedworlds-favorites.dat